<div class="head-page" *ngIf="identity">
    <h1>{{title}}</h1>

    <a *ngIf="identity && identity.role == 'ROLE_ADMIN'" class="btn btn-default"
        [routerLink]="['/artist-new']">
        Añadir artista
    </a>

    <ul class="pagination pull-right">
        <li>
            <a [routerLink]="['/artists', prevPage]">&laquo;</a>
            <a [routerLink]="['/artists', nextPage]">&raquo;</a>
        </li>
    </ul>

</div>

<div class="clearfix"></div>

<ul class="artist-list" *ngIf="identity">
    <li *ngFor="let artist of artists" class="col-lg-3 artist-item">
        <div class="artist-image">
            <img src="{{url +  'get-image-artist/' + artist.image}}" alt="">
        </div>

        <div class="artist-name">
            <a [routerLink]="['/artist', artist._id]">
                {{artist.name}}
            </a>

            <div class="buttons" *ngIf="identity.role == 'ROLE_ADMIN'">
                <a [routerLink]="['/artist-edit', artist._id]" class="btn btn-sm btn-warning">Editar</a>
                <a (click)="onDeleteConfirm(artist._id)" class="btn btn-sm btn-danger">Eliminar</a>
            </div>

            <div class="sure" *ngIf="confirmed == artist._id">
                <a (click)="onDeleteArtist(artist._id)" class="btn btn-sm btn-danger">Eliminar</a>
                <a (click)="onCancelArtist(artist._id)" class="btn btn-sm btn-primary">Cancelar</a>
            </div>
        </div>
    </li>
</ul>
