<div class="col-lg-6" *ngIf="identity && identity.role == 'ROLE_ADMIN'">
    <h1>{{title}}</h1>

    <div *ngIf="alertMessage">
        <div class="alert alert-info">
            {{alertMessage}}
        </div>
    </div>

    <form #formArtist="ngForm" (ngSubmit)="onSubmit()">
        <p>
            <label for="name">Nombre</label>
            <input type="text" #name="ngModel" name="name" id="name" [(ngModel)]="artist.name"
                   required class="form-control">
            <span *ngIf="!name.valid && name.touched">
                El nombre es obligatorio
            </span>
        </p>

        <p>
            <label for="description">Descripción</label>
            <textarea #description="ngModel" name="description" id="description" [(ngModel)]="artist.description"
                      required class="form-control"></textarea>
            <span *ngIf="!description.valid && description.touched">
                La descripción es obligatoria
            </span>
        </p>

        <div *ngIf="isEdit">
            <div class="artist-image-for-edit" *ngIf="artist.image && artist.image != 'null'">
                <img src="{{url + 'get-image-artist/' + artist.image}}" alt="">
            </div>

            <p>
                <label for="artist-image">Sube la imagen del artista</label>
                <input type="file" placeholder="Subir imagen..." id="artist-image" (change)="fileChangeEvent($event)">
            </p>
        </div>

        <input type="submit" class="btn btn-success" value="{{title}}" [disabled]="!formArtist.form.valid">
    </form>
</div>

<div class="col-lg-6" *ngIf="!identity || identity.role != 'ROLE_ADMIN'">
    <h1>Error</h1>
    <p> No tienes acceso</p>
</div>
